
/* common-style */

@media (max-width:600px) {
.influencer{
        flex-wrap: wrap;
    }
    
}

@media only screen and (min-width: 769px) and (max-width: 1281px) { 
    /* for 10 inches tablet screens */
    main::before {
      text-align: center;
      background: rgba(255, 255, 0, 0.9); /* Semi-transparent yellow */
      position: absolute;  
    }
  } 

body {
    background-color: lightblue;
  }


body{
    font-family: 'Poppins', sans-serif;
font-family: 'Righteous', cursive;
    background-color: #AAAAAA;;
}

main{
    padding-top: 50px;

    padding-left: 50px;
    margin-left: 120px;
    margin-right: 220px;
    width: 750px;
    background-color: white;
}
.influencer{
    
    background-color: white;
    display: flex;

}

.influencer-photos:hover img{
    display: block;
    overflow: hidden;
    
    transform: scale(1.2);
    transition: transform 2s ease-in-out;
    width: 440px;
    height: 414px;
    
}
.details a{
    
    padding: 10px;
    border-radius: 19px;
    background-color:#E02C6D  ;
    text-decoration: none;

    color: white;
}

@media (max-width:600px){
    .collections{
        display: flex;
        grid-template-columns: repeat(1);
    
    }

}

.collections{
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.article{
    text-align: center;
}

.collection img{ 
    width: 220px;

}


.see-button a{
    padding-left: 85%;
    text-decoration: none;

   color: #E02C6D ;
}


.Happy-Clients{

    padding-top: 50px;
    display: flex;
}
.Happy-Clients p{
    
    padding-right: 30px;
    text-align: justify;
    font-size: 16px;
}

.client-album img{
    padding: 30px;

    width: 250px;
    
}



footer{
    font-size: -1em;
    color: white;
    padding-top: 50px;

    padding-left: 50px;
    margin-left: 120px;
    margin-right: 220px;
    width: 750px;
    background-color: rgb(4, 4, 51);
    text-align: center;
}


.icon{
    color: yellow;
}
  

