
/* common-style */

body{
    font-family: 'Poppins', sans-serif;
font-family: 'Righteous', cursive;
    background-color: #AAAAAA;;
}

main{
    padding-top: 50px;

    padding-left: 50px;
    margin-left: 120px;
    margin-right: 220px;
    width: 750px;
    background-color: white;
}
.influencer{
    
    background-color: white;
    display: flex;
}

.influencer-photos img{
    width: 440px;
    height: 414px;
    
}
.Preebook-now{
   background-color:#E02C6D ;
   color: white;
   border-radius: 41px;

}

.collections{
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.article{
    text-align: center;
}

.collection img{ 
    width: 220px;

}

.Happy-Clients{

    padding-top: 50px;
    display: flex;
}
.Happy-Clients p{
    
    padding-right: 30px;
    text-align: justify;
    font-size: 16px;
}

.client-album img{
    padding: 30px;

    width: 250px;
    
}



footer{
    font-size: -1em;
    color: white;
    padding-top: 50px;

    padding-left: 50px;
    margin-left: 120px;
    margin-right: 220px;
    width: 750px;
    background-color: rgb(4, 4, 51);
    text-align: center;
}


.icon{
    color: yellow;
}
  

